html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  position: relative;
}

.navbar-logo img {
  width: 180px;
  height: auto;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2.2rem;
  color: white;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 2.2vh;
  position: relative;
  padding-bottom: 10px;
  transition: color .3s;
}


.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: .3s ease;
}

.nav-link:hover {
  color: #bdbdbd;
}

.nav-link:hover::after {
  width: 100%;
  height: 2px;
  left: 0;
  transform: none;
  border-radius: 0;
}



.parallax {
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding: 20px;
}

.img-homepage {
  max-width: 85%;
  max-height: 60vh;
  object-fit: contain;
}

.gridparallax {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  padding: 80px 5%;
  background: white;
  justify-items: center;
}

.card {
  width: 200%;

  max-width: 700px;

  aspect-ratio: 1 / 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  position: relative;
  overflow: hidden;
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img.card-img-top {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(5px 10px 15px rgba(0, 0, 0, 0.5));
  transition: transform 1s ease;
}


.card:hover {
  z-index: 5;
  cursor: grab;
}

.card:hover img.card-img-top {
  transform: scale(1.5);
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

@media (max-width: 1100px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .navbar-links.show {
    display: flex;
  }

  .nav-link {
    padding: 10px 0;
    border-top: 1px solid #666;
    text-align: center;
  }
}

.container {
  background-color: thistle;
}


@media (max-width: 768px) {


  .container-img {
    height: auto;
    padding: 40px 20px;
  }

  .img-homepage {
    max-width: 100%;
    max-height: 40vh;
  }


  .gridparallax {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 250px;
  }

  .card:hover {
    transform: scale(1);
  }
}